.toy-edit {
    display: grid;
    place-items: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--clr3);
    color: var(--clr1);

    > *:first-child {
        font-size: 2rem;
    }

    > input {
        padding: 0.4em;
    }

    button {
        justify-self: end;
    }
}