.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #0000007a;
  background-color: lightgray;

  font-size: 1.5rem;
}

.app-header .logo {
  font-family: cursive;
  font-weight: bold;
  text-shadow: 0 0 3px white;
  color: var(--clr-Secondary3);
}

.app-header h1 .logo span {
  color: var(--clr-Primary2);
  font-size: 50px;
}

.app-header h1 {
  margin-block: 0.5em;
}

.app-header nav > *:not(:last-child) {
  margin-inline-end: 1.5em;
}

.app-header .router-link-active:not(.logo) {
  color: var(--clr-Secondary1);
  border-bottom: 1px solid var(--clr-Secondary1);
}