.toy-index {
    display: grid;
    gap: 1em;
    margin-block-start: 1em;
}

.toy-index>.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.toy-index>.actions .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    box-shadow: 0 0.5em 0.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.toy-index > .actions .cssbuttons-io-button svg {
    margin-right: 6px;
}

.toy-index > .actions .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.toy-index > .actions .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}