:root {
    --clr-Primary1: #EEEDED;
    --clr-Primary2: #0D1282;
    --clr-Primary3: #F0DE36;
    --clr-Primary4: #D71313;

    --clr-Secondary1: #0079FF;
    --clr-Secondary1: #00DFA2;
    --clr-Secondary2: #F6FA70;
    --clr-Secondary3: #FF0060;
}